<aside class="sidebar">
  <div class="user-info">
    <img src="/img/avatar2.png" alt="User Avatar" class="avatar">
    <div class="user-label">Admin</div>
  </div>

  <br></br>

  <ul class="menu">
    <li class="<%= (path === '/kelas') ? 'active' : '' %>">
      <a href="/kelas">Kelas</a>
    </li>
    <li class="<%= (path === '/siswa') ? 'active' : '' %>">
      <a href="/siswa">Siswa</a>
    </li>
    <li class="<%= (path.startsWith('/absensi')) ? 'active' : '' %>">
      <a href="/absensi">Absensi</a>
    </li>
  </ul>

  <!-- Tambahkan menu logout di luar <ul class="menu"> -->
  <div class="logout">
    <a href="/logout">Logout</a>
  </div>
</aside>