<aside class="sidebar">
  <div class="user-info">
    <img src="/img/avatar.png" alt="User Avatar" class="avatar">
  </div>

  <ul class="menu">
    <li class="<%= (path === '/kelas') ? 'active' : '' %>">
      <a href="/kelas">Kelas</a>
    </li>
    <li class="<%= (path === '/siswa') ? 'active' : '' %>">
      <a href="/siswa">Siswa</a>
    </li>
    <li class="<%= (path.startsWith('/absensi')) ? 'active' : '' %>">
      <a href="/absensi">Absensi</a>
    </li>
    <li>
      <a href="/logout">Logout</a>
    </li>
  </ul>
</aside>